
<div class="oj-hybrid-applayout-page">
    <div class="oj-applayout-fixed-top">
        <!--
         ** Oracle JET V9.1.0 hybrid mobile application header pattern.
         ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
         ** more information on how to use this pattern.
        -->
        <header role="banner" class="oj-hybrid-applayout-header">
            <oj-module config="[[headerConfig]]"></oj-module>
        </header>
    </div>
    <div class="oj-applayout-content">
        <div role="main" class="oj-hybrid-applayout-content">
            <div class="oj-hybrid-padding">
                <div id="vehiclecontainer" style="" class="demo-padding demo-container">
                    <div class="oj-offcanvas-outer-wrapper" style="height: 600px">
                        <div id="mainContent" class="demo-main-content">
                            <div class="oj-flex tabHeader">
                                <div class="oj-flex-item" align="left">
                                    <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-left">
                                        <div class="oj-flex-item button_alligne">
                                            <oj-input-search id="searchfilter"
                                                             style="width:300px;"
                                                             value="{{vehicleFilter}}"
                                                             on-raw-value-changed="[[handleVehicleChanged]]"
                                                             placeholder="Search..."
                                                             aria-label="My search field">
                                            </oj-input-search>
                                        </div>
                                        <div class="oj-flex-item admbutton" align="left">
                                            <oj-button   chroming="full" style="width: 12em" >
                                                Search
                                            </oj-button>
                                        </div>
                                    </div> 

                                </div>

                                <div class="oj-flex-item" align="left">
                                    <a href="#" class="tooltip" data-bind="click: function(data){toggleVehicleDrawer('end');}">
                                        <img style="width:50px; height:40px;" src="css/images/add.svg"/><br/>

                                    </a>
                                </div> 
                            </div>
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <oj-table id='vehiclelisttable' aria-label='Vehicle list Table'
                                              data='[[datasource]]'
                                              scroll-policy='loadMoreOnScroll'
                                              scroll-policy-options='{"fetchSize": 7}'
                                              style="height: 450px;width: 90%"
                                              class="table1 classstrong"
                                              row-renderer='[[oj.KnockoutTemplateUtils.getRenderer("vehiclelist_template", true)]]'>                    
                                    </oj-table>
                                    <!-- mobile view -->
                                </div>
                            </div>
                            
                        </div>
                        <div id="endDrawer" class="oj-offcanvas-end oj-panel oj-panel-alt4 oj-offcanvas-overlay-shadow enddrawer-class"
                             style="background-color: white;width: 100%;" >
                            <div class="oj-flex tabHeader">
                                <div class="oj-flex-item">
                                    <a href="#" data-bind="click: function(data){toggleVehicleDrawer('end');}">
                                        <img class="icon" src="css/images/prev.svg"/>  
                                    </a>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="referenceno" name="referenceno" disabled="true"   value="{{vehicle().barcode.code}}" style="max-width:10em"  label-hint="Referenceno"></oj-input-text>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="registrationNumber" name="name" required   value="{{vehicle().registrationNumber}}" style="max-width:8em"  label-hint="Registration Number"></oj-input-text>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-select-one id="selectfuel"  on-value-changed="[[setFuel]]"  label-hint="Fuel Type" style="max-width:8em" 
                                                   options="[[fuelOptions]]" class="demo-max-width">
                                    </oj-select-one>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="driver" name="name" required class="classstrong"  value="{{vehicle().driver}}" style="max-width:12em"  label-hint="Driver"></oj-input-text>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-input-text id="driver" name="name" required class="classstrong"  value="{{vehicle().contact}}" style="max-width:12em"  label-hint="Contact"></oj-input-text>
                                </div>
                                <div class="oj-flex-item">
                                    <oj-button   chroming="full" style="width: 12em;background-color: #2433fa" data-bind="click:updateFueltype">
                                        <!--<span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-clock"></span>-->
                                        Update
                                    </oj-button> 
                                </div>
                            </div>
                             <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">
                                <oj-table id='salelisttable' aria-label='Sale list Table'
                                              data='[[saleDatasource]]'
                                              columns='[[saleColumnArray]]'
                                              scroll-policy='loadMoreOnScroll'
                                              scroll-policy-options='{"fetchSize": 7}'
                                              style="height: 450px;width: 90%"
                                              class="table1 classstrong"
                                              row-renderer='[[oj.KnockoutTemplateUtils.getRenderer("salelist_template", true)]]'>                    
                                    </oj-table>
                            </div>
                            
                            
                            <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">
                            <div class="oj-flex-item col_gone" data-bind="visible:progressVisibility" align="right">
                                    <oj-paging-control id="salepaging" data='[[saleDatasource]]' page-size='10'   slot='bottom'></oj-paging-control>
                                </div>
                            <div class="oj-flex-item col_gone" data-bind="visible:progressVisibility" align="right">
                                    <oj-progress-circle size='md' value='-1'></oj-progress-circle>
                                </div>
                            </div>
                            <br/>
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <span  data-bind="text:'Total Quantity : '+totalQty()+' Ltrs'"></span>
                                </div>
                                <div class="oj-flex-item">
                                    <span  data-bind="text:'Total Amount : '+totalAmount()+' Shs'"></span>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <!--</div>-->
                </div>

                <oj-popup id="vehiclePopup" style="display:none"  tail="simple" position.my.horizontal="left" position.my.vertical="bottom"
                          position.at.horizontal="left" position.at.vertical="bottom">
                    <div class="oj-flex tabHeader">
                        <div class="oj-flex-item" align="right">
                            <h3><span  data-bind="text:'Set Activity Status'"></span></h3>
                        </div>

                    </div>

                </oj-popup>

                <script type="text/html" id="vehiclelist_template">
                    <tr>
                        
                        <td data-bind=" click: function(data, event){$parent.getSelectedVehicle($context.row,event)}">
                            <span data-bind="text: registrationNumber"></span>
                             <span class="oj-text-xs oj-text-secondary-color" data-bind="text: fuel.name"></span><br/>
                            <span class="oj-text-xs oj-text-secondary-color" data-bind="text: driver"></span>
                            <span class="oj-text-xs oj-text-secondary-color" data-bind="text: contact"></span>
                        </td>
                    </tr>
                    </script>
                <script type="text/html" id="salelist_template">
                    <tr>
                        <td >
                            <span data-bind="text: createdon"></span>
                        </td>
                        <td>
                            <span data-bind="text: unitcost"></span>
                        </td>
                        <td>
                            <span data-bind="text:'Amt : '+ amount"></span><br/>
                            <span class="oj-text-xs oj-text-secondary-color" data-bind="text:'Qty : '+ quantity"></span>
                        </td>
                        <td >
                            <span data-bind="text: station.name"></span><br/>
                            <span class="oj-text-xs oj-text-secondary-color" data-bind="text:createdby.name"></span>
                        </td>
                    </tr>
                    </script>

                    <oj-dialog  id="progressDialogue" dialog-title="Wait ..." style="background-color: transparent">
                        <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">
                            <oj-progress id="deleteBatchProgressCircle" type="circle" value="-1"></oj-progress>
                        </div>
                    </oj-dialog>


                </div>
            </div>
        </div>

    
    <oj-popup id="salePreviewPopup"  style="display:none;max-width: 10%;max-height: 20px"   class="demo-popup"
          tail="simple" position.my.horizontal="end" position.my.vertical="bottom"
          position.at.horizontal="start" position.at.vertical="center"
          position.of="window" position.offset.y="-10"
          modality="modeless">
        <div class="oj-flex" >
            <h4>Sales Attendant</h4>
        </div>
    <div class="oj-flex ">
        <!--<span data-bind="text:selectedSale().user.name"></span><br/>-->
    
    </div>

</oj-popup>


    </div>









