

<div>
  <div style="vertical-align: baseline;float:left; ">
      <!-- chroming="borderless" display="icons"  -->
      <oj-button id="drawerToggleButton" on-oj-action="[[toggleDrawer]]"
                 style="background:#2d710a;color:#ffffff;float:left;  vertical-align: baseline;">
     <span slot="startIcon" class="oj-ux-ico-menu-overflow" ></span>
     <span  class="test"></span>
   </oj-button>
  </div>
  <div style="vertical-align: baseline;float:left; margin-left: 30px;">
 <img src="css/images/logo.png" alt="Fueless" width="100px" style="  vertical-align: baseline;" valign="middle"/>

 <p><oj-bind-text value="[[pageTitle]]"></oj-bind-text></p>
  </div>
  </div>

 