<div id="stationlist">
<!--    <div class="oj-flex">
        <div class="oj-flex-item" align="left">
            <oj-input-search id="searchfilter"
                style="width:300px;"
                value="{{stationFilter}}"
                on-raw-value-changed="[[handleStationValueChanged]]"
                placeholder="Search..."
                aria-label="My search field">
              </oj-input-search>
              
        </div>
    </div>-->
    <oj-table id='table' aria-label='Station List Table'
              data='[[datasource]]' 
              style="width: 100%"
              row-renderer='[[oj.KnockoutTemplateUtils.getRenderer("station_large_row_template", true)]]'>
    </oj-table>
     
   
    <div id="script">
        <script type="text/html" id="station_large_row_template">
            <tr>
                <td>
            <oj-row-expander context="[[$context.rowContext]]"></oj-row-expander>
                </td>
                <td data-bind="click:function(data, event){$parent.getSelectedStation($context.row); }">
                <span data-bind="text: name"></span>
            </td>
           
            </tr>
            </script>
        </div>  
    </div>
